.MovieDetailsContainer {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LinksContainer {
  display: flex;
  margin-top: 15px;
}

.AdditionalLinkInfo:not(:last-child) {
  margin-right: 35px;
}

.AdditionalLinkInfo--active {
  color: #b4057a;
}

.AdditionalLinkInfo {
  font-size: 25px;
  font-weight: 500;
}
