.NavList {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  margin: 0;
  background-color: #ecc0c0;
}

.NavLink {
  font-size: 26px;
  font-weight: 600;
  color: #2a2a2a;
}

.NavItem:not(:last-child) {
  margin-right: 30px;
}

.NavLink--active {
  color: #b4057a;
}
