.SearchForm {
  padding-left: 20px;
}

.SearchLabel {
  display: flex;
  align-items: center;
}

.SearchInput {
  height: 40px;
  width: 270px;
}

.SearchButton {
  display: flex;
  align-items: flex-end;
  padding: 10px;
  margin-left: 15px;
  font-size: 20px;
}

.SearchIcon {
  width: 18px;
  height: 18px;
  margin-left: 5px;
}
